.blancPro{
    position: relative;
    height: 80%;
    background-color: rgb(244, 244, 244);
    color: #30443b;
}

.empPhotosB {
    position: relative;
    width: 40%;
    left: 50%;
    top: 15%;
}

.photo1 {
    position: relative;
    width: 110%;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
}

.photo2 {
    position: relative;
    left: 35%;
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
}

.presentationB {
    font-family: 'Tahoma';
    width: 30%;
    height: 70%;
    top: 20%;
    left: 10%;
    position: absolute;
}

.titre {
    font-weight: bold;
    letter-spacing: 0.5vh;
    font-size: 300%;
}

.project-details {
    display: none;
    position: relative;
    top: -80%;
    left: 2%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 92%;
    overflow-y: auto;
    border-radius: 10px; 
}

.project-details.visible {
    display: block;
}

.project-details .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

.image-project {
    margin-top: -800px;
    margin-left: 60%;
    width: 40%;
    height: 80vh;
    border: 2px solid #222222;
    border-radius: 5%;
    background-size: cover;
    background-position: -15px;
}

.details-project {
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    height: 70%;
}

.group-member {
    margin-top: 7%;
    margin-left: 10%;
    width: 80%;
    border-bottom: 1px solid rgb(180, 180, 180);
    
}

.group-member ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.group-member ul li {
    margin: 0 1rem;
}

.title {
    text-align: center;
}


.text-details {
    margin-top: 7%;
    margin-left: 2.5%;
    width: 95%;
    height: auto;
}