html{
    background-color: #30443b;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF; 
    color: #30443b; 
}
p{
    text-align: justify;
}
a{
    color: #30443b;
    text-decoration: none;
}
a:hover{
    color: #1d2722;
    text-decoration: underline;
}
.header-style {
    padding: 50px 0;
    background-color: #30443b;
    color: #FFFFFF;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.header-style h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
.header-contact {
    background-color: #ffffff;
    color: #30443b !important;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.header-contact:hover {
    background-color: #1d2722;
    color: #ffffff !important;
}
.navbar-nav .nav-link {
    font-size: 1.15rem;
    color: #ffffff ;
}
.navbar-nav .dropdown-item {
    font-size: 1,15rem;
}
.dropdown-item:focus {
    background-color: #1d2722;
    color: #ffffff;
}
.vert{
    background-color: #30443b;
    color: rgb(230, 230, 230);
}
.vert a{
    color: rgb(230, 230, 230);
}
.contenu {
    padding: 20px;
}
.popup-details {
    display: none;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}
.popup-details.visible {
    display: block;
}
.popup-details .close {
    font-size: 40px;
    cursor: pointer;
}
.membres {
    border-bottom: 1px solid rgb(180, 180, 180);  
}
.membres ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.membres ul li {
    margin: 0 1rem;
}
.titre {
    text-align: center;
}
.popup-text {
    text-align: justify;
}
.popup-pdf {
    border: 2px solid #222222;
    border-radius: 5%;
    background-size: cover;
    background-position: -15px;
}
.popup-pdf-responsive {
    width: 100%;
    height: 95%;
    min-height: 200px;
    max-height: 800px;
}

@media (min-width: 768px) {
    .popup-pdf-responsive {
        max-height: 1000px;
    }
}

@media (min-width: 1200px) {
    .popup-pdf-responsive {
        max-height: 1200px;
    }
}

.contacter {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #30443b;
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #30443b;
    color: #ffffff; 
}






.loader p{
    font-size: 1.5rem;
    font-weight: 700;
    color: #30443b;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0 auto; /* Center the loader */
}

.loader-bar {
    width: 10px;
    height: 100%;
    background-color: #30443b;
    margin: 0 5px;
    animation: loading 1s infinite;
}

.loader-bar:nth-child(1) {
    animation-delay: 0s;
}
.loader-bar:nth-child(2) {
    animation-delay: 0.1s;
}
.loader-bar:nth-child(3) {
    animation-delay: 0.2s;
}
.loader-bar:nth-child(4) {
    animation-delay: 0.3s;
}
.loader-bar:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes loading {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.5);
    }
}